.parts-container {
	border: 1px solid #2b2929;
	display: none;
	transition: display 1s;
	position: absolute;
	top: 28px;
	left: 0;
	right: 0;
	max-height: 20vh;
	overflow-y: auto;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.parts-container::-webkit-scrollbar {
	display: none;
}

.parts-item {
	padding: 2px 18px 2px 0;
	text-align: center;
}

.parts-item:hover {
	cursor: pointer;
	background-color: #ebe8e8;
}